@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    font-family: 'Jetbrains Mono';
    margin: 0;
    padding: 0;
}

body {
    padding: 200px 100px;
    text-align: center;
}

a:hover {
    color: black;
    cursor: pointer;
}

.container {
    width: 90%;
    margin: auto;
}

.title {
    margin: 0 auto;
    text-align: left;
    border: 2px solid black;
}

.title h1 {
    font-size: 71px;
    font-style: italic;
}

.links {
    margin: 20px 0 ;
    padding: 0;
}

.links ul{
    list-style: none;
    font-size: 20px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px
}

.links ul li {
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    font-size: 30px;
    text-align: left;
}

.title-box {
    border-bottom: 2px black solid;
    padding: 5px;
}

.links ul li a{
    display: block;
    color: rgb(96, 96, 96);
    text-decoration-color: black;
}

.links ul li a:visited{
    color: purple;
}

.links ul li a:hover, .links ul li a:focus{
    color: black;
}

.box {
    padding: 15px;
}

.preview {
    border-radius: 20px;
    width: 950px;
    height: 300px;
}

.description {
    width: 800px;
    font-style: italic;
    color: gray;
}