@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    font-family: 'Jetbrains Mono';
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

body{
    padding: 200px 100px;
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
}

.title {
    margin: 0 auto;
    text-align: left;
}

.title h1 {
    font-size: 71px;
    font-style: italic;
}

.links {
    margin: 20px 0 ;
}

.links ul{
    list-style: none;
    font-size: 20px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.links ul li {
    border-radius: 5px;
    width: fit-content;
    margin: 5px 0;
    padding: 20px;
    background-color: rgb(177, 176, 255);
    border: 5px;
    border-color: black;
    border-radius: 5px;
    font-size: 30px;
    text-align: left;
}

.preview {
    margin: 10px;
    border-radius: 20px;
    width: 900px;
    height: 300px;
}

.links ul li a{
    color: rgb(96, 96, 96);
    text-decoration: none;
}

.links ul li a:visited{
    text-decoration: none;
}