@font-face {
    font-family: 'Transcity'; /*a name to be used later*/
    src: url('Transcity\ DEMO.otf'); /*URL to font*/
}

body {
    text-align: center;
    margin: 0;
    background-color: antiquewhite;
    font-family: Transcity;
    background-image: url("images/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #CDBDAE;
    text-shadow: 0px 0px 10px black;
}

.hero {
    height: 50vh;
    margin: 0;
    padding: 20vh 0 0 0;
}

.hero h3 {
    font-style: italic;
    width: 700px;
    margin: auto;
    font-size: 40px;
}

h1 {
    font-size: 128px;
    color: white;
    margin-bottom: 0;
}

h2 {
    font-size: 64px;
    margin-bottom: 0;
}

h3 {
    font-size: 32px;
    margin-bottom: 0;
}

p {
    font-family: serif;
}

.italic {
    font-style: italic;
}

.section-small-text {
    width: 950px;
    margin: auto;
    font-size: 20px;
}

.section {
    padding: 50px;
    background-color: #CDBDAE;
    color: #311444;
    text-shadow: none;
    box-shadow: 0px 0px 20px beige;
}

.activities {
    width: 80vw;
    margin: 50px auto;
    background-color: #CDBDAE;
}

.activity {
    width: 20vw;
}

.activities h2 {
    font-style: italic;
    margin-bottom: 25px;
}

.underline {
    border-bottom: solid 4px white;
}

.activity-list {
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.activity-img img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border: 8px solid white;
    transition: transform 0.2s ease-in-out;
}

.activity-img img:hover {
    border-radius: 50%;
    height: 265px;
    width: 265px;
    object-fit: cover;
    border: 12px solid white;
    transform: scale(1.1);
}

.mayor {
    margin: 100px;
    padding: 100px;
    color: beige;
    border-radius: 50px;
    background-color: #311444;
    position: relative;
    border: 16px double #81129a;
}

#left-mayor {
    position: absolute;
    left: -16px;
    bottom: 4px;
}

#right-mayor {
    position: absolute;
    right: 0;
    bottom: -16px;
}

