body{
    background-color: #f4f4f4;
    color: #ed3939;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1em;
    margin: 0px;
}

a{
    color: peru;
}

a:hover{
    color:black;
}

a:visited{
    color:palevioletred;
}

.container{
    width: 90%;
    margin: auto;
}

.box-1{
    background-color: #175506;
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 8px;
}

.box-1 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    word-spacing: 1em;
}

.box-2 {
    border: 3px dotted;
    padding: 20px;
    margin: 20px 0;
}

.categories {
    color: #175506;
    border: #ed3939 solid;
    padding: 10px 20px;
    margin: 20px 0;
}

.categories ul {
    list-style: none;
    padding: 0px 10px;
}

.categories li {
    list-style-image: url(../css/images/pawbullet.png);
}

.my-form {
    padding: 20px;
}

.my-form .form-group {
    padding-bottom: 20px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}